@model CreateMenuTableDto

@{
	ViewData["Title"] = "MenuTable";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">MenuTable Operations Form</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post" action="/MenuTable/CreateMenuTable/">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Register New MenuTable</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="menutablename">MenuTable Name</label>
								<input type="text" class="form-control" asp-for="Name" id="menutablename">
								
							</div>

						</div>
						<div class="card-action">
							<button class="btn btn-success">Add MenuTable</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>