@model CreateBookingDto
<!DOCTYPE html>
<html>
@* BookATable *@

@* public string Name { get; set; }
        public string Phone { get; set; }
        public string Mail { get; set; }
        public int PersonCount { get; set; }
        public DateTime Date { get; set; }
        public string Description { get; set; }
        public bool Status { get; set; } *@
    

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">

    @await Component.InvokeAsync("_MenuNavbarPartialComponent")

    <!-- book section -->
    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Book A Table
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form method="post" action="/BookATable/Add/">
                            <div>
                                <input type="text" class="form-control" placeholder="Your Name" asp-for="Name"/>
                            </div>
                            <div>
                                <input type="text" class="form-control" placeholder="Phone Number" asp-for="Phone"/>
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Your Email" asp-for="Mail"/>
                            </div>
                        
                            <div>
                                <input type="text" class="form-control" placeholder="Description" asp-for="Description" />
                            </div>
                            <div>
                                <select class="form-control nice-select wide" asp-for="PersonCount">
                                    <option value="2" disabled selected>
                                        How many persons?
                                    </option>
                                    <option value="1">
                                        1
                                    </option>
                                    <option value="2">
                                        2
                                    </option>
                                    <option value="3">
                                        3
                                    </option>
                                    <option value="4">
                                        4
                                    </option>
                                    <option value="5">
                                        5
                                    </option>
                                    <option value="6">
                                        6++
                                    </option>
                                </select>
                            </div>
                            <div>
                                <input type="date" class="form-control">
                            </div>
                            <div class="btn_box">
                                <button>
                                    Book Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end book section -->

    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    <!-- footer section -->

    <!-- Script -->
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")
 
</body>

</html>