@model SignalRWebUI.Dtos.CategoryDtos.CreateCategoryDto

@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Category Operations Form</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post" action="/Category/CreateCategory/">
					<div class="card">
					<div class="card-header">
						<div class="card-title">Register New Category</div>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="categoryname">Category Name</label>
							<input type="text" class="form-control" asp-for="CategoryName" id="categoryname" placeholder="Enter Category name">
@* 							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
 *@						</div>
					
					</div>
					<div class="card-action">
						<button class="btn btn-success">Add Category</button>
						<button class="btn btn-danger">Cancel</button>
					</div>
				</div>
				</form>
			</div>

		</div>
	</div>
</div>